@charset "UTF-8";
/* CSS Document */

body {
width: 960px;
margin: 0 auto;
text-align: center;
background-color: floralwhite;
}

a:link{
	color: azure;
}

a:visited{
	color: azure;
}

nav {
	display: inline;
    text-decoration: none;
	text-align: right;
	float: right;	
    margin: 20px;
	margin-top: -100px;
	font-family: 'Georgia', serif;
    font-size: 18px;
    padding: 20px;
    word-spacing: 20px;
}


header {
	text-align: left;
	font-family: 'Snell Roundhand', cursive, serif;
	font-size: 22px;
	color: azure;
	margin: 5px;
    margin-top: 50px;
	border-style: solid;
	border-width: medium;
	border-color: indianred;
	background-color: palevioletred;
	padding: 5px;
	padding-left: 5%;
	border-radius: 10px;
	text-shadow: 1px 1px 0 #000;
}

#Welcome_Info {
float: left;
margin: 0 auto;
width: 300px;
margin-top: 175px;
background-color: palevioletred;
color: azure; 
font-family: 'Georgia', serif;
font-size: 18px;
margin-left: 150px;
border-style: solid;
border-width: medium;
border-color: azure;
border-radius: 10px;
box-shadow: 10px 10px 10px 10px #888;
padding: 5px;
}

.scholarship_portrait {
float: right;
margin-top: 100px;
margin-right: 75px;
border-radius: 10px;
box-shadow: 3px 3px 3px 3px #888;
}

.up_to {
margin-top: 560px;
font-family: 'Georgia', serif;
text-align: center;
font-size: 22px;
color: azure;
text-shadow: 1px 1px 0 #000;
border-style: solid;
border-width: medium;
border-color: palevioletred;
background-color: indianred;
padding: 7px;
border-radius: 7px;
box-shadow: 3px 3px 3px 3px #888;
}


.football_game_portrait {
border-radius: 10px;
margin-top: 70px;
box-shadow: 2px 2px 2px 2px #888;
}

.pickleball_portrait {
border-radius: 10px;
margin-top: 70px;
box-shadow: 2px 2px 2px 2px #888;
}

.hockey_portrait {
border-radius: 10px;
margin-top: 70px;
box-shadow: 2px 2px 2px 2px #888;
} 

.bottom_bar{
font-family: 'Georgia', serif;
text-align: left;
font-size: 16px;
color: azure;
margin: 5px;
margin-top: 70px;
margin-bottom: 50px;
border-style: solid;
border-width: medium;
border-color: indianred;
background-color: palevioletred;
padding: 5px;
padding-left: 5%;
height: 85px;
border-radius: 10px;
}

.library_portrait{
float: left;
margin-top: 100px;
margin-left: 30px;
border-radius: 10px;
box-shadow: 5px 5px 5px #888;
}

.star_wars_disney {
float: right;
margin-top: 100px;
margin-right: 30px;
border-radius: 10px;
box-shadow: 5px 5px 5px #888;
}

.about_me {
text-align: center;
margin-top: 470px;
margin-left: 175px;
width: 600px;
font-family: 'Georgia', serif;
border-style: solid;
border-width: medium;
border-color: palevioletred;
background-color: indianred;
padding: 5px;
border-radius: 10px;
color: azure;
margin-bottom: 10px;
font-size: 18px;
box-shadow: 7px 7px 7px #888;
}

.resumes {
margin-top: 70px;
font-family: 'Georgia', serif;
font-size: 30px;
color: indianred;
text-shadow: 1px 1px 0 black;
}

#pdfs {
margin-top: 70px;
border-style: solid;
border-width: medium;
background-color: palevioletred;
border-color: indianred;
border-radius: 10px;
padding: 10px;
}

.favorites {
margin-top: 70px;
font-family: 'Georgia', serif;
text-align: center;
font-size: 30px;
color: indianred;
text-shadow: 1px 1px 0 black;
}

.books_title {
font-family: 'Georgia', serif;
font-size: 20px;
color: black;
text-shadow: 1px 1px 0 black;
margin-top: 70px;
}

.shatter_me {
border-radius: 10px;
margin-right: 177px;
}

.once_upon {
border-radius: 10px;
margin-left: 90px;
}

.books li{
display: inline; 
padding: 85px;
font-family: 'Georgia', serif;
}

.albums_title {
font-family: 'Georgia', serif;
font-size: 20px;
color: black;
text-shadow: 1px 1px 0 black;
margin-top: 70px;
}

.tame_impala {
border-radius: 10px;
margin-right: 115px;
}

.folklore {
border-radius: 10px;
margin-left: 157px;
}

.albums li {
display: inline; 
padding: 135px;
font-family: 'Georgia', serif;
}

.miscellaneous_title {
font-family: 'Georgia', serif;
font-size: 20px;
color: black;
text-shadow: 1px 1px 0 black;
margin-top: 70px;
margin-left: 30px;
}

.disney_world {
border-radius: 10px;
margin-left: 50px;
}

.macaron {
border-radius: 10px;
margin-left: 50px;
}

.tangled {
border-radius: 10px;
margin-left: 60px;
}

.miscellaneous li {
display: inline; 
padding: 50px;
font-family: 'Georgia', serif;
}

.contact {
text-align: center;
margin-top: -400px;
margin-bottom: 185px;
width: 300px; 
font-family: 'Georgia', serif;
margin-left: 100px; 
padding: 5px;
border-style: solid;
border-width: medium;
border-radius: 10px; 
border-color: indianred;
background-color: palevioletred;
color: azure; 
box-shadow: 10px 10px 10px 10px #888; 
text-shadow: 1px 1px 0 #000;
}

.memorial_terrace_portrait {
margin-left: 400px;
margin-top: 100px;
margin-bottom: 100px;
box-shadow: 5px 5px 5px 5px #888;
border-style: solid;
border-width: medium;
border-color: indianred;
border-radius: 10px;
}


